@import "colors";
@import "global/global.scss";
@import "pages/clients.scss";


body {
    position: relative;
}

.wrapper {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    background: $c-gray;
    max-width: 154px;
    height: 100%;
    border-width: 0 0.75px 0.75px 0;
    border-style: solid;

    .sidebar__button {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: 8px 16px;

        &:hover {
            .sidebar__title {
                transition: $transition-btn;
                color: $c-blue;
            }

            //.sidebar__icon {
            //    //filter: hue-rotate(200deg);
            //    filter: sepia(100%);
            //}
        }
    }


    .sidebar__button.active {
        .sidebar__title {
            color: #1e80bb;
        }
    }

    a {
        text-decoration: none;
    }

    .sidebar__icon img {
        height: 22px;
        width: 22px;
    }

    .sidebar__title {
        color: $c-black;
    }

}

.header {
    display: flex;
    background-color: $c-black2;
    //--bs-bg-opacity: 1;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    color: white;
    transition: $transition-btn;

    &:hover {
        color: $c-gold;
        text-decoration: none;
    }
}


.wrapper-notation {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    .form {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

}

.modal_background {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;

    &.active {
        display: block;
    }
}
.modal__add_client, .modal__edit_client {
    display: none;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    height: auto;

    &.active {
        display: block;
    }

    .inputWrapper {
        width: 100%;
        .errors {
            color: red;
        }
    }

    .modal-content form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;

        h2 {
            align-items: center;
        }

        input {
            width: 100%;
            //padding-bottom: 5px;
            margin: 5px 0;
            flex-grow: 1;
        }

        textarea {
            width: 100%;
            //padding-bottom: 5px;
            margin: 5px 0;
            resize: vertical;
            min-height: 70px;
            max-height: 300px;
            overflow-y: auto;
        }

        .wrapper_btn {
            display: flex;
            justify-content: space-around;
            gap: 30px;
            width: 100%;
           padding-top: 10px;
        }
    }
}
