
.main-container {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;

}

.main-btn {
    display: inline-block;
    color: $c-black;
    font-weight: 700;
    height: 45px;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 4px;
    transition: 0.2s;

    &:active {
        background: $c-gray;
        color: black;
    }

    &.active {
        background: $c-gray;
        color: black;
    }

    &.none {
        display: none;
    }

    &:hover {
        color: $c-blue;
        text-decoration: none;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
    }

    &__previous {
        margin-left: 10px;
    }

    &__item {
        margin: 0 10px;
    }

    &__next {
        margin-right: 10px;
    }
}
